@CHARSET "UTF-8";
body{
	background-color:#FFE5CC;
	background-image:url(../images/retina_wood.png);
  	background-repeat:repeat;
  	width:1000px;
}
.header{
	background-color:grey;
	background-image:url(../images/wild_oliva.png);
	background-repeat:repeat;
	border: 5px ridge grey;
	border-top:none;
	text-align:center;
	border-radius: 0px 0px 20px 20px; /*css3*/
}
.middle{
	background-color:#04C317;
	background-image:url(../images/pool_table.png);
  	background-repeat:repeat;
  	border: 5px ridge grey;
  	border-radius:10px; /*css3*/
}
@font-face{
	font-family:Levibrush;
	src:url(../fonts/LEVIBRUSH.TTF);
}
#title{
	font-family:Levibrush, Calibri, Times New Roman;
	font-size:45px;
	color:white;
}
.buttons{
	text-align:center;
}
.buttons > input{
	padding: 0px 20px 0px 20px;
	font-family:Levibrush, 'Comic Sans MS';
	font-size:30px;
}
.scorePlace{
	background-color:grey;
	background-image:url(../images/wild_oliva.png);
	background-repeat:repeat;
	border: 5px ridge grey;
	border-radius:10px; /*css3*/
}
.scorePlace > div{
	background-color:white;
	border: 2px ridge grey;
}
p > span{
	display:block;
	margin-top:20px;
	font-family:Levibrush, 'Comic Sans MS', 'Arial';
	font-size:20px;
	text-align:center;
}
.footer{
	text-align:right;
}
#help{
	display:none;
	border: 1px solid black;
	background-color:white;
	font-family:'Times New Roman';
	font-size:20px;
}
.table *{
	text-align:center;
}
#deck{
	font-family: Levibrush, 'Comic Sans MS', 'Arial';
	font-size:35px;
	color:white;
}
deck > span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}