@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
}
body{
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	height:100%;
}
.wrapper{
	height:100%;
}
.header{
	height:60px;
	position:absolute;
	width:990px;
	top:0px;
}
.footer{
	width:1000px;
	margin-top:10px;
	position:fixed;
	bottom:10px;
}
.scorePlace{
	margin-top:100px;
	float:right;
	width:150px;
	height:520px;
}
.middle{
	float:left;
	width:800px;
	margin-top:100px;
}
.hand{
	height:124px;
}
#deck{
	height:202px;
}
#deck *{
	height:33%;
	padding-top:10px;
}
.buttons{
	height:70px;
}
.scorePlace > div{
	width:90%;
	height:150px;
	margin: 70px 5px 70px 5px;
}
#help{
	position:fixed;
	margin:25% 15% 10% 20%;
	width:30%;
	padding:15px;
}

