@CHARSET "UTF-8";
body{
	background-image:url(../images/diagmonds.png);
  	background-repeat:repeat;
}
.header{
	background-image:url(../images/header.png);
	background-repeat:repeat;
	height:200px;
	margin-bottom:100px;
}
.header > h1{
	display:block;
	font-size:100px;
	margin-top:70px;
}
.middle{
	margin-top:250px;
	background-image:url(../images/pool_table.png);
}

.scorePlace{
	margin-top:250px;
	background-image:url(../images/tweed.png);
	background-repeat:repeat;
}