@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
}
.centered{
	margin-left:auto;
	margin-right:auto;
	width: 250px;
}
.field{
	width:50px;
}
#names{
	float:left;
}
#values{
	float:right;
}
#names div{
	margin:10px;
}
#values div{
	margin:10px;
}
#errorMessage{
	text-align: center;
	clear: both;
}